.hero {
    background-color: var(--color-muted);
    padding: 7rem 1rem;
}

.title {
    font-family: "Dancing Script", cursive;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--color-primary-dark);

}

.subtitle {

    font-size: 1.2rem;
    color: var(--color-dark);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ctaPrimary {
    display: inline-block;
    background-color: var(--color-primary);
    color: #ffffff !important;
    padding: 0.7rem 1.6rem;
    border-radius: 50px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 0.8rem;
    transition: background-color 0.3s ease;
}

.ctaPrimary:hover {
    background-color: var(--color-primary-dark);
}

.ctaSecondary {
    display: inline-block;
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
    padding: 0.7rem 1.6rem;
    border-radius: 50px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

.ctaSecondary:hover {
    background-color: var(--color-accent);
    color: #ffffff;
}


@media (max-width: 426px) {
    .title {
        font-family: "Dancing Script", cursive;
        font-size: 1.9rem;
        font-weight: 600;
        color: var(--color-primary-dark);

    }

    .subtitle {

        font-size: .8em;
        color: var(--color-dark);
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

}

