:root {
    /* Colores (ya definidos antes) */
    --color-primary: #8e78df;
    --color-primary-dark: #9c90d3;
    --color-light: #dabbbb;
    --color-bg: #F2E2E2;
    --color-dark: #333333;
    /* Tipografías */
    --font-body: var(--font-nunito);
    --font-title: var(--font-dancing);
}

body {
    font-family: var(--font-body), sans-serif;
    background-color: var(--color-bg);
    color: var(--color-dark);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title), cursive;
    font-weight: 400;
}