.section {
    position: relative;
    /* crea stacking context */
    background: var(--color-surface-alt);
    overflow: hidden;
    padding-top: calc(var(--wave-h) + 2rem);
    padding-bottom: calc(var(--wave-h) + 2rem);
    min-height: 130vh;
    align-content: center;
    color: #F3F2FF;
}

.fondoSection {
    background-color: #F3F2FF;
    height: 100%;
}

/* Olas */
.waveTop,
.waveBottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--wave-h);
    pointer-events: none;
    /* no bloquea clicks */
    z-index: 10;
    /* por encima del contenido */
}

/* Arriba, sin hacks de margin negativo */
.waveTop {
    top: 0;
    transform: scaleY(1);
    /*espejada*/
    transform-origin: center;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}

/* Abajo, misma curva */
.waveBottom {
    bottom: 0;
    transform: none;
    transform-origin: center;
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
}

/* Colores de las olas: usa fill en el path */
.waveTop path {
    fill: var(--color-surface-alt2);
}

/* color de la sección anterior */
.waveBottom path {
    fill: var(--color-surface);
}