.section {
    position: relative;
    background: var(--color-surface-alt);
    overflow: hidden;
    padding-top: calc(var(--wave-h) + 2rem);
    padding-bottom: calc(var(--wave-h) + 2rem);

    /* Alturas responsivas */
    min-height: 110vh;
    /* fallback para navegadores viejos */
    min-height: 80dvh;
    /* iOS Safari y navegadores modernos */
    max-height: 120vh;

    align-content: center;
    color: #F3F2FF;
}

/* Pantallas muy pequeñas (teléfonos hasta 425px) */
@media (min-width: 450px) {
    .section {

        height: 120vh;
        /* asegura que llene la pantalla */
    }

    .grid {
        width: 95%;
        flex-direction: column;
        padding: 1.5rem 0;
    }

    .title {
        font-size: 2rem;
        /* más legible en móvil */
        line-height: 1.3;
    }

    .swiper {
        padding-bottom: 1.5rem;
        /* menos espacio en móvil */
    }

    .swiper-slide {
        width: 100%;
        max-width: 320px;
        /* limita el ancho de las cards */
    }
}


/* Si el navegador soporta dvh, sobreescribimos */
@supports (min-height: 70dvh) {
    .section {
        min-height: 70dvh;
    }
}

.fondoSection {
    background-color: #F3F2FF;
}

/* Olas */
.waveTop,
.waveBottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--wave-h);
    pointer-events: none;
    z-index: 10;
    /* siempre por encima */
}

.waveTop {
    top: 0;
    transform: scaleY(1);
    transform-origin: center;
}

.waveBottom {
    bottom: 0;
    transform: scaleY(-1);
    transform-origin: center;
}

/* Colores de las olas */
.waveTop path {
    fill: var(--color-surface-alt2);
}

.waveBottom path {
    fill: var(--color-surface);
}

/* VIDEO */
.grid {
    width: 80%;
    padding: 2rem 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.swiper {
    padding-bottom: 2rem;
    /* espacio para bullets */
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    font-family: "Dancing Script", var(--font-heading);
}